@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --background: #191919;
  --font-color: #dddddd;
  --title-color-g1: #7DFABB;
  --title-color-g2: #E5AFF8;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: var(--background);
  color: var(--font-color);
}

nav{
  background: rgba(53, 53, 53, 0.25);
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
}

.title{
  /* degradado https://www.baumannzone.dev/blog/bordes-con-degradado-css/ */
  background: linear-gradient(to right, var(--title-color-g1), var(--title-color-g2));
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image: linear-gradient(to right, var(--title-color-g1), var(--title-color-g2)) 1;
}

.sectionForm{
  border: 2px solid transparent;
  border-image: linear-gradient(to right, var(--title-color-g1), var(--title-color-g2)) 1;
}

input{
  outline: none;
}
